/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Roboto:100,700,400);
/* line 5, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 36, ../sass/contacto.scss */
#contacto {
  width: 100%;
  height: auto;
  min-height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
}
/* line 48, ../sass/contacto.scss */
#contacto img {
  max-width: 100%;
  max-height: 100%;
}
/* line 53, ../sass/contacto.scss */
#contacto #contacto-titulo {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #039FB2;
}
@media (max-width: 400px) {
  /* line 53, ../sass/contacto.scss */
  #contacto #contacto-titulo {
    font-size: 50px;
  }
}
@media (min-width: 401px) {
  /* line 53, ../sass/contacto.scss */
  #contacto #contacto-titulo {
    font-size: 70px;
  }
}
/* line 68, ../sass/contacto.scss */
#contacto #contacto-subtitulo {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #E25F1C;
}
@media (max-width: 400px) {
  /* line 68, ../sass/contacto.scss */
  #contacto #contacto-subtitulo {
    font-size: 30px;
  }
}
@media (min-width: 401px) {
  /* line 68, ../sass/contacto.scss */
  #contacto #contacto-subtitulo {
    font-size: 60px;
  }
}

@media (max-width: 599px) {
  /* line 87, ../sass/contacto.scss */
  .contacto-form {
    max-width: 600px;
  }
}
@media (min-width: 600px) {
  /* line 87, ../sass/contacto.scss */
  .contacto-form {
    width: 600px;
  }
}
/* line 102, ../sass/contacto.scss */
.contacto-form .contacto-wrapper input, .contacto-form .contacto-wrapper textarea {
  border: 2px solid #039FB2;
  padding: 5px;
  margin: 5px;
}
@media (max-width: 599px) {
  /* line 102, ../sass/contacto.scss */
  .contacto-form .contacto-wrapper input, .contacto-form .contacto-wrapper textarea {
    max-width: 600px;
  }
}
@media (min-width: 600px) {
  /* line 102, ../sass/contacto.scss */
  .contacto-form .contacto-wrapper input, .contacto-form .contacto-wrapper textarea {
    width: 600px;
  }
}

/* line 119, ../sass/contacto.scss */
.contacto-enviar {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  border: 1px solid #039FB2;
  background: #039FB2;
  color: #ffffff;
  padding: 15px;
  font-size: 20px;
  transition: all .4s;
  cursor: pointer;
}

/* line 148, ../sass/contacto.scss */
.contacto-enviar:hover {
  border: 1px solid #039FB2;
  background: #ffffff;
  color: #039FB2;
}

/* line 155, ../sass/contacto.scss */
.contacto-enviado {
  position: relative;
  white-space: nowrap;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  color: #E25F1C;
  font-weight: 700;
  transition: all 0.5s;
}

/* line 169, ../sass/contacto.scss */
.contacto-enviado.ng-add {
  transform: scale(1, 1);
  opacity: 1;
}

/* line 174, ../sass/contacto.scss */
.contacto-enviado.ng-hide {
  opacity: 0;
  transform: scale(10, 10);
}
