/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Roboto:100,700,400);
/* line 5, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@media screen and (max-width: 800px) {
  /* line 10, ../sass/empresa.scss */
  #empresa {
    flex-direction: column;
  }
}
/* line 15, ../sass/empresa.scss */
#empresa {
  width: 100%;
  height: auto;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #039FB2;
}
/* line 27, ../sass/empresa.scss */
#empresa img {
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 700px) {
  /* line 27, ../sass/empresa.scss */
  #empresa img {
    height: 0px !important;
  }
}
@media (min-width: 701px) {
  /* line 27, ../sass/empresa.scss */
  #empresa img {
    height: 70px !important;
  }
}
/* line 40, ../sass/empresa.scss */
#empresa #empresa-titulo {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
}
@media (max-width: 700px) {
  /* line 40, ../sass/empresa.scss */
  #empresa #empresa-titulo {
    font-size: 80px;
    margin-right: 0px;
    margin-top: 70px;
    margin-bottom: 50px !important;
  }
}
@media (min-width: 701px) {
  /* line 40, ../sass/empresa.scss */
  #empresa #empresa-titulo {
    margin-right: 80px;
    font-size: 110px;
  }
}
/* line 64, ../sass/empresa.scss */
#empresa ul.sdt_menu {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 700px) {
  /* line 64, ../sass/empresa.scss */
  #empresa ul.sdt_menu {
    flex-flow: column;
    margin-bottom: 30px;
  }
}
@media (min-width: 701px) {
  /* line 64, ../sass/empresa.scss */
  #empresa ul.sdt_menu {
    flex-flow: row;
  }
}
/* line 89, ../sass/empresa.scss */
#empresa ul.sdt_menu a {
  text-decoration: none;
  outline: none;
}
/* line 94, ../sass/empresa.scss */
#empresa ul.sdt_menu li {
  float: left;
  width: 200px;
  height: 85px;
  position: relative;
  cursor: pointer;
}
/* line 102, ../sass/empresa.scss */
#empresa ul.sdt_menu li > a {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 85px;
  z-index: 12;
  background: transparent url(../img/overlay.png) no-repeat bottom right;
  -moz-box-shadow: 0px 0px 2px #fff inset;
  -webkit-box-shadow: 0px 0px 2px #fff inset;
  box-shadow: 0px 0px 2px #fff inset;
}
/* line 116, ../sass/empresa.scss */
#empresa ul.sdt_menu li a img {
  border: none;
  position: absolute;
  width: 0px;
  height: 0px;
  bottom: 0px;
  left: 85px;
  z-index: 100;
  -moz-box-shadow: 0px 0px 4px #000;
  -webkit-box-shadow: 0px 0px 4px #000;
  box-shadow: 0px 0px 4px #000;
}
/* line 129, ../sass/empresa.scss */
#empresa ul.sdt_menu li span.sdt_wrap {
  position: absolute;
  top: 25px;
  left: 0px;
  width: 200px;
  height: 60px;
  z-index: 15;
}
/* line 137, ../sass/empresa.scss */
#empresa ul.sdt_menu li span.sdt_active {
  position: absolute;
  background: #111;
  top: 85px;
  width: 200px;
  height: 0px;
  left: 0px;
  z-index: 14;
  -moz-box-shadow: 0px 0px 4px #000 inset;
  -webkit-box-shadow: 0px 0px 4px #000 inset;
  box-shadow: 0px 0px 4px #000 inset;
}
/* line 149, ../sass/empresa.scss */
#empresa ul.sdt_menu li span span.sdt_link,
#empresa ul.sdt_menu li span span.sdt_descr,
#empresa ul.sdt_menu li div.sdt_box a {
  margin-left: 15px;
  text-transform: uppercase;
}
/* line 156, ../sass/empresa.scss */
#empresa ul.sdt_menu li span span.sdt_link {
  color: #fff;
  font-size: 24px;
  float: left;
  clear: both;
}
/* line 162, ../sass/empresa.scss */
#empresa ul.sdt_menu li span span.sdt_descr {
  color: #ffffff;
  float: left;
  clear: both;
  width: 155px;
  /*For dumbass IE7*/
  font-size: 10px;
  letter-spacing: 1px;
  white-space: nowrap;
}
/* line 171, ../sass/empresa.scss */
#empresa ul.sdt_menu li span span.sdt_descr .std_descr_first {
  font-weight: bolder;
}
/* line 175, ../sass/empresa.scss */
#empresa ul.sdt_menu li div.sdt_box {
  display: block;
  position: absolute;
  width: 200px;
  overflow: hidden;
  height: 200px;
  top: 85px;
  left: 0px;
  display: none;
  background: #000;
}
/* line 186, ../sass/empresa.scss */
#empresa ul.sdt_menu li div.sdt_box a {
  float: left;
  clear: both;
  line-height: 30px;
  /*color: #0B75AF;*/
    color: #fff;
    cursor: default;
}
/* line 192, ../sass/empresa.scss */
#empresa ul.sdt_menu li div.sdt_box a:first-child {
  margin-top: 15px;
}
/* line 195, ../sass/empresa.scss */
#empresa ul.sdt_menu li div.sdt_box a:hover {
  color: #fff;
}
