/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Roboto:100,700,400);
/* line 5, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.scss */
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 15, ../sass/screen.scss */
.view-container {
  margin-top: -80px;
}

/* line 19, ../sass/screen.scss */
.content {
  height: 2600px;
  max-height: 2600px;
}

/* line 25, ../sass/screen.scss */
#nav-mob {
  z-index: 20;
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: #000000;
  transition: all 0.5s;
  transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  display: flex;
  flex-direction: row;
}
@media (min-width: 601px) {
  /* line 25, ../sass/screen.scss */
  #nav-mob {
    display: none;
  }
}
/* line 43, ../sass/screen.scss */
#nav-mob div:nth-child(2) {
  flex: 1;
}
/* line 47, ../sass/screen.scss */
#nav-mob img {
  max-width: 40px;
  max-height: 40px;
  margin-right: 10px;
  margin-top: 5px;
}
/* line 54, ../sass/screen.scss */
#nav-mob img:focus {
  outline: none;
}
/* line 58, ../sass/screen.scss */
#nav-mob #menu-mobile {
  transition: all 0.5s;
}
/* line 62, ../sass/screen.scss */
#nav-mob #menu-mobile .menu-item-mob {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 100;
  font-size: 0px;
  cursor: pointer;
  margin: 5px;
}

/* line 76, ../sass/screen.scss */
.menu-mob-open {
  z-index: 15;
  transition: menu .5s;
  position: fixed;
  top: 50px;
  left: 0px;
  right: 0px;
  background: #000000;
}
/* line 85, ../sass/screen.scss */
.menu-mob-open .menu-item-mob {
  font-size: 20px !important;
}

@keyframes menu {
  0% {
    transform: scale(0, 0) !important;
  }
  1% {
    transform: scale(1, 0) !important;
  }
  100% {
    transform: scale(1, 1) !important;
  }
}
/* line 112, ../sass/screen.scss */
#nav-bar {
  z-index: 20;
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: #000000;
  transition: all 0.5s;
  transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 600px) {
  /* line 112, ../sass/screen.scss */
  #nav-bar {
    display: none;
  }
}
/* line 133, ../sass/screen.scss */
#nav-bar #menu-container {
  max-width: 800px;
  transition: all .5s;
  margin-top: 90px;
  height: 100px;
}
/* line 139, ../sass/screen.scss */
#nav-bar #menu-container .menu-item {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 100;
  font-size: 20px;
  cursor: pointer;
  margin: 20px;
}
/* line 151, ../sass/screen.scss */
#nav-bar #menu-container .menu-middle img {
  margin-bottom: -30px;
}
/* line 156, ../sass/screen.scss */
#nav-bar #menu-container .menu-item:hover {
  color: #039FB2;
}
/* line 160, ../sass/screen.scss */
#nav-bar #menu-container .menu-item:focus {
  outline: none;
}
/* line 164, ../sass/screen.scss */
#nav-bar img {
  max-width: 50px;
  max-height: 50px;
  transition: all .5s;
}
/* line 169, ../sass/screen.scss */
#nav-bar img:focus {
  outline: none;
}

/* line 175, ../sass/screen.scss */
.menu-home-mini {
  margin-top: 40px !important;
}

/* line 180, ../sass/screen.scss */
.logo-mini {
  margin-top: 0px !important;
}

/* line 186, ../sass/screen.scss */
.menu-mini {
  margin-top: 40px !important;
}

/* line 191, ../sass/screen.scss */
.nav-bar-mini {
  height: 50px !important;
}

/* line 200, ../sass/screen.scss */
.slide {
  transition: all 0.5s;
}

/* line 208, ../sass/screen.scss */
.slide.ng-add {
  z-index: 1;
  opacity: 1;
}

/* line 216, ../sass/screen.scss */
.slide.ng-hide {
  z-index: 0;
  transform: scale(10, 10);
  opacity: 0;
}

/* line 223, ../sass/screen.scss */
#home {
  overflow: hidden;
  z-index: 3 !important;
  position: relative;
}
/* line 249, ../sass/screen.scss */
#home #img01 {
  background: url("../img/background01.jpg") center center no-repeat;
}
/* line 253, ../sass/screen.scss */
#home #img02 {
  background: url("../img/background02.jpg") center center no-repeat;
}
/* line 256, ../sass/screen.scss */
#home #img03 {
  background: url("../img/background01.jpg") center center no-repeat;
}
/* line 259, ../sass/screen.scss */
#home #img04 {
  background: url("../img/background02.jpg") center center no-repeat;
}
/* line 263, ../sass/screen.scss */
#home #img01, #home #img02, #home #img03, #home #img04 {
  overflow: hidden;
  position: absolute;
  z-index: -1;
  transform-origin: 50% 50% 0 !important;
  background-size: contain;
  transition: all 0.5s;
}

/* line 347, ../sass/screen.scss */
#frase-02, #frase-01, #frase-03 {
  z-index: 10;
  width: 100%;
  min-height: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  color: #039FB2;
  font-weight: 300;
}
/* line 363, ../sass/screen.scss */
#frase-02 .texto-frase, #frase-01 .texto-frase, #frase-03 .texto-frase {
  font-family: Roboto, serif;
  font-weight: 100;
  text-align: center;
  max-width: 800px;
  margin: 30px;
}
@media (max-width: 400px) {
  /* line 363, ../sass/screen.scss */
  #frase-02 .texto-frase, #frase-01 .texto-frase, #frase-03 .texto-frase {
    font-size: 30px;
  }
}
@media (min-width: 401px) {
  /* line 363, ../sass/screen.scss */
  #frase-02 .texto-frase, #frase-01 .texto-frase, #frase-03 .texto-frase {
    font-size: 40px;
  }
}
/* line 376, ../sass/screen.scss */
#frase-02 .texto-frase span, #frase-01 .texto-frase span, #frase-03 .texto-frase span {
  font-weight: 400;
}
/* line 380, ../sass/screen.scss */
#frase-02 .btn-frase, #frase-01 .btn-frase, #frase-03 .btn-frase {
  border: 1px solid #039FB2;
  background: #039FB2;
  color: #ffffff;
  padding: 15px;
  font-size: 20px;
  transition: all .4s;
  cursor: pointer;
  height: 24px;
  width: 80px;
}
/* line 392, ../sass/screen.scss */
#frase-02 .btn-frase:hover, #frase-01 .btn-frase:hover, #frase-03 .btn-frase:hover {
  border: 1px solid #039FB2;
  background: #ffffff;
  color: #039FB2;
}

/* line 400, ../sass/screen.scss */
.screen-shadow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.8);
  z-index: 14;
}

/* line 410, ../sass/screen.scss */
.btn-close {
  font-size: 2em;
  color: white;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 16;
}

/* line 420, ../sass/screen.scss */
.btn-hidden {
  font-size: 0px;
  transition: all 1s;
}

/* line 425, ../sass/screen.scss */
.texto-slide {
  width: 100%;
  position: absolute;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 50px;
  padding-bottom: 50px;
  top: 180px;
  max-height: 200px;
}
/* line 438, ../sass/screen.scss */
.texto-slide span {
  color: #039FB2;
  font-weight: 100;
}
@media (max-width: 600px) {
  /* line 425, ../sass/screen.scss */
  .texto-slide {
    font-size: 20px;
  }
}
@media (min-width: 601px) and (max-width: 800px) {
  /* line 425, ../sass/screen.scss */
  .texto-slide {
    font-size: 25px;
  }
}
@media (min-width: 801px) {
  /* line 425, ../sass/screen.scss */
  .texto-slide {
    font-size: 50px;
  }
}
