/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";
@import "compass";
@import url(http://fonts.googleapis.com/css?family=Roboto:100,700,400);



#portfolio {
  width: 100%;
//  background: #00c7ff url("../img/portfolio.jpg") center center no-repeat;
  background: #000000 url("../img/portfolio.jpg") center center no-repeat;
  background-size: contain;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 20px;
}

.portfolio-item{
  flex: 1 1 auto;
  height: 310px;
  padding: 15px;
//  background-color: blue;
}

.portfolio-work {
  width: 280px;
  background-color: rgba(#444444, 1);
  height: 300px;
  margin: auto;
//  margin-top: 25px;
  transition: all 1s;
//  margin-left: auto;
  overflow: hidden;
}

.portfolio-work-over {
  opacity: 1 !important;
  transform: translate(0px, 0px) !important;
}

#portfolio-thumb {
  opacity: 1;
  transition: all 1s;
}

.portfolio-img-over {
//  position: absolute !important;
  transform-origin: 0% 0% !important;
  transform: scale(10, 10) !important;
  //  background-position:50% 50% !important;
  //  background-size:cover !important;
  opacity: 0 !important;
}

#barra_naranja_1_,
#ampliar,
#triangulo_negro_1_ {
  opacity: 0;
  transition: all 1s;
  transform: translate(0px, -200px);
}

.barra_naranja_1_-hover,
.ampliar-hover {
  opacity: 1 !important;
  transform: translate(0px, 0px) !important;
}

#texto_detalles {
  tspan {

    font-family: Roboto, serif !important;
    font-weight: 300 !important;
  }

}

#titulo_prensa_energetica_1_,
#texto_detalles_1_,
#triangulo_naranja,
#linea_naranka {
  opacity: 0;
  transition: all 1s;
  transform: translate(-200px, 0px);
  text {

    tspan:nth-child(1) {
      font-family: Roboto, serif !important;
      font-weight: 300;

    }
    tspan:nth-child(2) {
      font-family: Roboto, serif !important;
      font-weight: 700;

    }
  }
}

#portfolio-background {
  opacity: 0;
  transition: all 1s;
}

.portfolio-background-show {
  opacity: 1 !important;
}

#ampliar{
  tspan, text {
    font-family: "Roboto", sans-serif !important;
    font-weight: 400 !important;
  }
}