/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";
@import "compass";
@import url(http://fonts.googleapis.com/css?family=Roboto:100,700,400);

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.view-container {
  margin-top: -80px;
}

.content {
  height: 2600px;
  max-height: 2600px;

}

#nav-mob {
  @media (min-width: 601px) {
    display: none;
  }
  z-index: 20;
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: #000000;
  transition: all 0.5s;
  transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);

  display: flex;
  flex-direction: row;
  div:nth-child(2) {
    flex: 1;
  }

  img {
    max-width: 40px;
    max-height: 40px;
    margin-right: 10px;
    margin-top: 5px;
  }

  img:focus {
    outline: none;
  }

  #menu-mobile {
    transition: all 0.5s;
    //    height: 50px;
    //    transform: scale(1, 1);
    .menu-item-mob {
      //  display: inline-block;
      font-family: "Roboto", sans-serif;
      color: #ffffff;
      font-weight: 100;
      font-size: 0px;
      cursor: pointer;
      margin: 5px;
      //      transition: all .5s;
      //      display: none;
    }
  }
}

.menu-mob-open {
  z-index: 15;
  transition: menu .5s;
  position: fixed;
  top: 50px;
  left: 0px;
  right: 0px;

  background: #000000;
  .menu-item-mob {
    font-size: 20px !important;

  }
}

//.menu-mob-open-remove{
////  background-color: #00AC7F !important;
//  transition: menuremove 5s;
//
//}

@keyframes menu {
  0% {
    transform: scale(0, 0) !important;
    //  opacity: 0;
  }
  1% {
    transform: scale(1, 0) !important;
  }

  100% {
    //    opacity: 1;
    transform: scale(1, 1) !important;
  }
}

#nav-bar {

  @media (max-width: 600px) {
    display: none;
  }
  z-index: 20;
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: #000000;
  transition: all 0.5s;
  transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);

  display: flex;
  align-items: center;
  justify-content: center;

  #menu-container {
    max-width: 800px;
    transition: all .5s;
    margin-top: 90px;
    height: 100px;
    //    float: right;
    .menu-item {
      display: inline-block;
      font-family: "Roboto", sans-serif;
      color: #ffffff;
      font-weight: 100;
      font-size: 20px;
      cursor: pointer;
      margin: 20px;

    }

    .menu-middle {
      img {
        margin-bottom: -30px;
      }
    }

    .menu-item:hover {
      color: #039FB2;
    }

    .menu-item:focus {
      outline: none;
    }
  }
  img {
    max-width: 50px;
    max-height: 50px;
    transition: all .5s;
  }
  img:focus {
    outline: none;
  }

}

.menu-home-mini {

  margin-top: 40px !important;
}

.logo-mini {
  margin-top: 0px !important;
  //  max-width: 30px !important;
  //  max-height: 30px !important;
}

.menu-mini {

  margin-top: 40px !important;
}

.nav-bar-mini {
  height: 50px !important;
}

//.home-hidden {
//  visibility: collapse;
//  transform: scale(10, 10);
//}

.slide {
  //  transform: scale(1, 1);
  //  opacity: 1;
  transition: all 0.5s;

  //  clip: rect(0px, auto, 800px, 0px);
}

.slide.ng-add {
  z-index: 1;
  //  clip: rect(0px, auto, 600px, 0px);
  //  transform: scale(1, 1);
  opacity: 1;

}

.slide.ng-hide {
  z-index: 0;
  transform: scale(10, 10);
  opacity: 0;
  //  clip: rect(0px, auto, 600px, 0px);
}

#home {
  //  width: 100%;
  //  min-height: 700px;
  overflow: hidden;
  z-index: 3 !important;
  position: relative; // Esto sirve para que con la posición absoluta de la imagen, funcione el overflow hidden

  //  display: flex;
  //  align-items: flex-start;
  //  justify-content: flex-start;

  //  @media (max-width: 400px) {
  //    height: 200px !important;
  //
  //  }
  //
  //  @media (orientation: portrait) {
  //
  //    height: 500px !important;
  //  }
  //
  //  @media (orientation: landscape) {
  //
  //    height: 700px !important;
  //  }

  #img01 {
    background: url("../img/background01.jpg") center center no-repeat;

  }
  #img02 {
    background: url("../img/background02.jpg") center center no-repeat;
  }
  #img03 {
    background: url("../img/background01.jpg") center center no-repeat;
  }
  #img04 {
    background: url("../img/background02.jpg") center center no-repeat;
  }

  #img01, #img02, #img03, #img04 {
    overflow: hidden;

    position: absolute;
    //    top: -30px;
    z-index: -1;

    transform-origin: 50% 50% 0 !important;
    background-size: contain;
    transition: all 0.5s;

    //    display: flex;
    //    align-items: center;
    //    justify-content: center;

    //    @media (max-width: 400px) {
    //
    //      //      height: calc(1200px / 2);
    //      //      height: auto;
    //      //      width: 100%;
    //      min-height: 400px;
    //      min-width: 400px;
    //    }
    //
    //@media (min-width: 401px) and (max-width: 800px) {
    //
    //      //      height: calc(1200px / 2);
    //      //      height: auto;
    //      //      width: 100%;
    //      min-height: 600px;
    //      min-width: 800px;
    //    }
    //
    //    @media (min-width: 801px) and (max-width: 1366px) {
    //      //      height: calc(1200px / 1.5);
    //      //      height: auto;
    //      //      width: 100%;
    //      min-height: 700px;
    //      min-width: 1366px;
    //    }
    //
    //    @media (min-width: 1367px) {
    //      min-height: 1080px;
    //      width: 1920px;
    //      //      height: 1200px;
    //      //      height: auto;
    //      //      width: 100%;
    //    }

  }

  //  #text01, #text02 {
  //    position: absolute;
  //    top: 200px;
  ////    left: calc(50% - 450px);
  //    font-family: "Roboto", sans-serif;
  //    font-size: 50px;
  //    color: white;
  //    font-weight: 700;
  //    text-align: center;
  //    max-width: 900px;
  //  }
  //
  //  #button01, #button02 {
  //    border: 1px solid white;
  //    position: absolute;
  //    top: 400px;
  ////    left: calc(50% - 100px);
  //    font-family: "Roboto", sans-serif;
  //    font-size: 30px;
  //    color: white;
  //    padding: 20px;
  //    transition: all 1s;
  //  }
  //
  //  #button01:hover,
  //  #button02:hover {
  ////    background-color: rgba(#00C7FF, 0.5);
  ////    transform: translate(5px, 5px) scale(1.05);
  ////    box-shadow: 2px 2px 10px #FFFFFF;
  //  }

}

#frase-02, #frase-01, #frase-03 {
  z-index: 10;
  width: 100%;
  min-height: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  color: #039FB2;
  font-weight: 300;
  //  img {
  //    max-width: 100%;
  //    max-height: 100%;
  //  }
  .texto-frase {
    font-family: Roboto, serif;
    font-weight: 100;
    @media (max-width: 400px) {
      font-size: 30px;
    }

    @media (min-width: 401px) {
      font-size: 40px;
    }
    text-align: center;
    max-width: 800px;
    margin: 30px;
    span {
      font-weight: 400;
    }
  }
  .btn-frase {
    border: 1px solid #039FB2;
    background: #039FB2;
    color: #ffffff;
    padding: 15px;
    font-size: 20px;
    transition: all .4s;
    cursor: pointer;
    height: 24px;
    width: 80px;
  }

  .btn-frase:hover {
    border: 1px solid #039FB2;
    background: #ffffff;
    color: #039FB2;
  }

}

.screen-shadow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#333333, 0.8);
  z-index: 14;
}

.btn-close {
  font-size: 2em;
  color: white;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 16;

}

.btn-hidden {
  font-size: 0px;
  transition: all 1s;
}

.texto-slide {
  width: 100%;
  position: absolute;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 50px;
  padding-bottom: 50px;
  top: 180px;
  max-height: 200px;
  span{
//    color: #E25F1C;
    color: #039FB2;
    font-weight: 100;
  }

    @media (max-width: 600px) {
      font-size: 20px;
    }

    @media (min-width: 601px) and (max-width: 800px) {
      font-size: 25px;
    }

    @media (min-width: 801px) {
      font-size: 50px;
    }
}