/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";
@import "compass";
@import url(http://fonts.googleapis.com/css?family=Roboto:100,700,400);

//.main {
//  position: fixed;
//  width: 800px;
//  height: 1900px;
//  box-shadow: 0px 0px 10px 0px black;
//  z-index: 0;
//  margin-left: -400px;
//  left: 50%;
//  top: 40px;
//  background-color: #EC407A;
//}

h1 {
  margin: 0;
}

body {
  background-color: #FFF3E0;
}

@-webkit-keyframes rueda-move {
  0% {
    opacity: 0;
    height: 100px
  }
  100% {
    opacity: 1;
    height: 1px
  }
}

@-webkit-keyframes texto-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 980px) {
  #top-bar {
    position: fixed;
    top:0;
    height: 80px;
    width: 100%;
    z-index: 5;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: start;
    -moz-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .top-bar-spacer {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    background-color: blue;
  }

  .logo-container {


    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
  }

  #logo-rueda {

  }
  #logo-texto {

  }
}

@media (min-width: 980px) {
  .logo-container {
    z-index: 5;
    height: 640px;
    position: fixed;
    width: 980px;
    top: 0px;
    left: calc(50% - 490px);
    //  right: 0px;
    transition: transform 1s, top 2s;
    background-color: #ff7d00;
    -webkit-box-shadow: 0px 5px 30px #000000;
    -moz-box-shadow: 0px 5px 30px #000000;
    box-shadow: 0px 5px 30px #000000;
  }

  .logo {
    position: absolute;
    top: 40px;
    //  left: 50%;
    //  margin-left: -490px;
    height: 600px;
    width: 980px;
    /*background-color: #90CAF9;*/
    //    transition: background-color 1s, transform 1s, top 2s;
    //    transform: scale(1, 1);
    -webkit-animation: rueda-move 5s;
    z-index: 10;
    background-size: 100%;
    background: #ff7d00 url(img/logo.png) center center no-repeat;
    ul li a {
      font-size: 40px;
    }

    img {
      height: 600px;
      width: 980px;
      position: absolute;
      //    left: 0;
      top: 50%;
      margin-top: -300px;
      //    margin-left: -490px;
      border: 0;
    }

  }
}

@media (max-width: 979px) {
  .logo-container {
    z-index: 5;
    height: 640px;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0;
    //  right: 0px;
    transition: transform 1s, top 2s;
    background-color: #ff7d00;
    -webkit-box-shadow: 0px 5px 30px #000000;
    -moz-box-shadow: 0px 5px 30px #000000;
    box-shadow: 0px 5px 30px #000000;
  }

  .logo {
    position: absolute;
    top: 40px;
    //  left: 50%;
    //  margin-left: -490px;
    height: 600px;
    width: 100%;
    /*background-color: #90CAF9;*/
    transition: background-color 1s, transform 1s, top 2s;
    transform: scale(1, 1);
    z-index: 10;
    background-size: 100%;
    background: #ff7d00 url(img/logo.png) center center no-repeat;
    ul li a {
      font-size: 40px;
    }

    img {
      height: auto;
      width: 100%;
      position: absolute;
      //    left: 0;
      top: 50%;
      margin-top: -300px;
      //    margin-left: -490px;
      border: 0;
    }

  }
}

.logo:focus {
  outline: none;
}

.logo-mini {
  transform: translate(0px, 0px) scale(0.2, 1) translate3d(0, 0, 0);
  -moz-transform: translate(0px, 0px) scale(0.2, 1) translate3d(0, 0, 0);
  -ms-transform: translate(0px, 0px) scale(0.2, 1) translate3d(0, 0, 0);
  -webkit-transform: translate(0px, 0px) scale(0.2, 1) translate3d(0, 0, 0);
  background-color: #ff7d00;
  //  margin-left: -490px;
  position: absolute;

  img {
    //        left: 50%;
  }
  ul li {

    display: inline-block;
    a {
      font-size: 140px;
    }
  }

  /*box-shadow: 0px 0px 5px 0px black;*/

}

.logo-container-mini {
  transform: translate(0px, -280px) scale(1, 0.2) translate3d(0, 0, 0);
  -moz-transform: translate(0px, -280px) scale(1, 0.2) translate3d(0, 0, 0);
  -ms-transform: translate(0px, -280px) scale(1, 0.2) translate3d(0, 0, 0);
  -webkit-transform: translate(0px, -280px) scale(1, 0.2) translate3d(0, 0, 0);
}

//.logo-mid {
//  transform: translate(0px, -100px) scale(0.8, 0.8) translate3d(0, 0, 0);
//  background-color: #BA68C8;
//  /*box-shadow: 0px 0px 100px 0px black;*/
//}

@media (max-width: 979px) {
  .content {
    width: 100%;
    height: 2800px;
    position: absolute;
    top: 600px;
    //    left: 50%;
    //    margin-left: -490px;
    //  background-color: #EC407A;
    transition: top 2s;
    //  -webkit-box-shadow: 0px 0px 15px #000000;
    //  -moz-box-shadow: 0px 0px 15px #000000;
    //  box-shadow: 0px 0px 15px #000000;
  }

}

@media (min-width: 980px) {
  .content {
    width: 980px;
    height: 2800px;
    position: absolute;
    top: 600px;
    left: 50%;
    margin-left: -490px;
    //  background-color: #EC407A;
    transition: top 2s;
    //  -webkit-box-shadow: 0px 0px 15px #000000;
    //  -moz-box-shadow: 0px 0px 15px #000000;
    //  box-shadow: 0px 0px 15px #000000;
  }

}

.inicio {
  //  background-color: blue;
  width: 100%;
  height: 40px;
}

.inicio-open {
  height: 100px !important;
}

.empresa {
  background-color: red;
  width: 100%;
  height: 540px;
}

.content-moved {
  top: 0px;
}

/* Portfolio */

.portfolio {
  background-size: 100%;
  background: #ff7d00 url("../img/fondodentado.png") center center no-repeat;
  height: 540px;
}

@media (max-width: 979px) {
  .portfolio-inner {
    width: 100%;
    height: 400px;
    overflow-y: hidden;
    overflow-x: scroll;
    //    overflow: auto;
    //    touch-action: pan-x;
  }

  .portfolio-inner::-webkit-scrollbar {
    height: 10px;
    transition: all 1s;

  }

  .portfolio-inner:hover::-webkit-scrollbar {
    transform: scale(10, 10);
    height: 8px;
  }

  .portfolio-inner::-webkit-scrollbar-thumb {
    background-color: rgb(196, 196, 196);
    border-radius: 0;
  }

  .portfolio-inner::-webkit-scrollbar-thumb:hover {
    background-color: rgb(196, 196, 196);
  }

  .portfolio-inner::-webkit-scrollbar-track {
    background-color: rgb(237, 237, 237);
  }

}

@media (min-width: 980px) {
  .portfolio-inner {
    width: 980px;
    height: 400px;
    overflow-y: hidden;
    overflow-x: scroll;
  }

  .portfolio-inner::-webkit-scrollbar {
    height: 1px;
    transition: all 1s;
  }

  .portfolio-inner:hover::-webkit-scrollbar {
    transform: scale(10, 10);
    height: 8px;
  }

  .portfolio-inner::-webkit-scrollbar-thumb {
    background-color: rgb(196, 196, 196);
    border-radius: 0;
  }

  .portfolio-inner::-webkit-scrollbar-thumb:hover {
    background-color: rgb(196, 196, 196);
  }

  .portfolio-inner::-webkit-scrollbar-track {
    background-color: rgb(237, 237, 237);
  }

}

.portfolio-title {
  //  background-color: #ff7d00;
  font-family: Roboto;
  font-weight: 100;
  color: #ffffff;
  position: relative;
  top: 40px;
  left: 10px;
  font-size: 2.1em;

}

.portfolio-subtitle {
  @include background-image(linear-gradient(to right, rgba(#ff7d00, 0.5), #ff7d00));
  position: relative;
  left: 0px;
  right: 0px;
  top: 40px;
  height: 20px;
}

.portfolio-details {
  width: 2000px;
  height: 400px;
  @include background-image(linear-gradient(to right, rgba(#ff7d00, 0.5), #ff7d00));
  position: relative;
  top: 50px;
  left: 0px;
}

.portfolio-work {
  width: 280px;
  background-color: rgba(#444444, 0.7);
  height: 300px;
  position: relative;
  top: 25px;
  margin-left: 40px;
  display: inline-block;
  transition: all 1s;
  //  -webkit-box-shadow: inset 0px 0px 50px 5px rgba(0, 0, 0, 0.75);
  //  -moz-box-shadow: inset 0px 0px 50px 5px rgba(0, 0, 0, 0.75);
  //  box-shadow: inset 0px 0px 50px 5px rgba(0, 0, 0, 0.75);
}

.portfolio-work-expanded {
  position: fixed;
  width: 1000px;
  height: 600px;
  //  transform: scale(3,2);
  z-index: 15;
  //  margin-top: 10%;
  left: 50%;
  margin-left: -500px;
  top: 50%;
  margin-top: -300px;
}

.portfolio-work:hover {
  //  transform: scale(1.1, 1.1);
}

.portfolio-footer {
  @include background-image(linear-gradient(to right, rgba(#ff7d00, 0.5), #ff7d00));
  position: relative;
  left: 0px;
  right: 0px;
  top: 25px;
  height: 25px;
}

//.portfolio-inner::-webkit-scrollbar {
//  width: 1px;
//  height: 1px;
//  -webkit-transition: height 1s;
//  -moz-transition: height 1s;
//  -ms-transition: height 1s;
//  -o-transition: height 1s;
//  transition: height 1s;
//}
//
//.portfolio-inner:hover::-webkit-scrollbar {
//  width: 10px;
//  height: 10px;
//
//}
//
//.portfolio-inner::-webkit-scrollbar-track {
//  background-color: rgba(0, 0, 0, 0.0);
//}
//
//.portfolio-inner::-webkit-scrollbar-track:hover {
//  height: 15px;
//  width: 15px;
//  background-color: rgba(0, 0, 0, 0.05);
//}
//
//.portfolio-inner::-webkit-scrollbar-thumb {
//  background-color: rgba(0, 175, 219, 0.4);
//}
//
//.portfolio-inner::-webkit-scrollbar-thumb:hover {
//  height: 15px;
//  width: 15px;
//  background-color: rgba(0, 175, 219, 0.7);
//}

/* End Portfolio */

//.view.ng-enter, .view.ng-leave {
//  -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
//  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
//
//  display: block;
//  width: 100%;
//  border-left: 1px solid black;
//
//  position: absolute;
//  top: 0;
//  left: 0;
//  right: 0;
//  bottom: 0;
//  padding: 10px;
//}
//
.view-container {
  position: relative;
  height: 2800px !important;
  //  background-color: #FF4D26;
  //  background-color: #FFF3E0;
  //  background: #ff7d00 url("../img/back.png") center center no-repeat;
  //  border: 1px solid black;
  //  height:40px;
  overflow: hidden;

}

//
//.view.ng-enter {
//  left: 100%;
//}
//
//.view.ng-enter.ng-enter-active {
//  left: 0;
//}
//
//.view.ng-leave.ng-leave-active {
//  left: -100%;
//}

/* EMPRESA */

/* Portfolio */

.empresa,
.contacto {
  background-size: 100%;
  background: #ff7d00 url("../img/fondodentado.png") center center no-repeat;
  height: 540px;
}

.contacto-inner {
  width: 980px;
  height: 400px;
}

.empresa-title,
.contacto-title, {
  //  background-color: #ff7d00;
  font-family: Roboto;
  font-weight: 100;
  color: #ffffff;
  position: relative;
  top: 40px;
  left: 10px;
  font-size: 2.1em;

}

.empresa-subtitle,
.contacto-subtitle {
  @include background-image(linear-gradient(to right, rgba(#ff7d00, 0.5), #ff7d00));
  position: relative;
  left: 0px;
  right: 0px;
  top: 40px;
  height: 20px;
}

@media (max-width: 979px) {
  .empresa-inner {
    width: 100%;
    height: 400px;
    overflow-x: scroll;
    overflow-y: hidden;
  }
}

@media (min-width: 980px) {
  .empresa-inner {
    width: 980px;
    height: 400px;
  }

}

.empresa-details {
  width: 980px;
  height: 400px;
  @include background-image(linear-gradient(to right, rgba(#ff7d00, 0.5), #ff7d00));
  position: relative;
  top: 50px;
  left: 0px;
}

.empresa-person {
  width: 200px;
  background-color: #444444;
  height: 300px;
  position: absolute;
  top: 25px;
  margin-left: 35px;
  display: inline-block;
  transition: transform 1s;
  -webkit-box-shadow: inset 0px 0px 50px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 50px 5px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 50px 5px rgba(0, 0, 0, 0.75);
}

.empresa-name {
  position: absolute;
  bottom: 5px;
  right: 10px;
  width: 200px;
  text-align: right;
}

.empresa-first {
  font-family: Roboto, serif;
  display: inline-block;
  color: #ffffff;
}

.empresa-last {
  font-family: Roboto, serif;
  font-weight: 700;
  display: inline-block;
  color: #ff7d00;
}

.empresa-job-title {
  font-family: Roboto, serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 3em;
  margin-top: 50px;
  margin-left: 50px;
  text-shadow: 2px 2px #000000;
}

.empresa-person:hover {
  transform: scale(1.1, 1.1);
}

.empresa-footer,
.contacto-footer {
  @include background-image(linear-gradient(to right, rgba(#ff7d00, 0.5), #ff7d00));
  position: relative;
  left: 0px;
  right: 0px;
  top: 60px;
  height: 25px;
}

/* EMPRESA END*/

.shadow {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 50px;
  pointer-events: none;
  @include box-shadow(rgba(50, 50, 50, 0.4) 0 0 25px, rgba(black, 0.8) 0 0 15px 1px inset);
  z-index: 4;
}

.shadow-open {
  top: 100px;
}

.separator {
  height: 50px;
  left: 0;
  right: 0;
  z-index: 40;
  //  background-color: blue;
  position: absolute;
  bottom: 0px;
}

.contacto {

}

.flex-container-contacto {
  @include background-image(linear-gradient(to right, rgba(#ff7d00, 0.5), #ff7d00));

  position: relative;
  top: 50px;
  left: 0px;
  height: 300px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flex-item-contacto:nth-child(1) {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.flex-item-contacto:nth-child(2) {
  max-width: 490px;
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  form {
    max-width: 200px;
    //    margin-left: 100px;
    div {

      white-space: nowrap;
    }
    input, textarea {
      width: 400px;
      //      width: 200px;
      margin: 10px;
      border: 0px solid;
      box-shadow: 1px 1px 1px gray;

    }
  }
}

.contacto-wrapper {
  img {
    height: 20px;
    position: relative;
    top: 4px;
    left: -40px;
  }
}

/*
    Legacy Firefox implementation treats all flex containers
    as inline-block elements.
*/

@-moz-document url-prefix() {
  .flex-container-contacto {
    width: 100%;
    -moz-box-sizing: border-box;
  }

}

@media (max-width: 979px) {
  .separador {
    width: 100%;
    background-color: #444444;
    height: 300px !important;
    -webkit-box-shadow: inset 0px 0px 50px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 50px 5px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 50px 5px rgba(0, 0, 0, 0.75);
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    h1 {

      text-align: center;
      font-weight: 100;
      font-size: 41px;
    }
    h2 {
      font-weight: 400;
      font-size: 42px;
      text-align: center;

    }
  }
}

@media (min-width: 980px) {
  .separador {
    width: 980px;
    background-color: #444444;
    height: 300px !important;
    -webkit-box-shadow: inset 0px 0px 50px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 50px 5px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 50px 5px rgba(0, 0, 0, 0.75);
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    h1 {

      text-align: center;
      font-weight: 100;
      font-size: 41px;
    }
    h2 {
      font-weight: 400;
      font-size: 42px;
      text-align: center;

    }
  }
}

.screen-shadow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#333333, 0.8);
  z-index: 14;
}

.btn-close {
  font-size: 2em;
  color: white;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 16;

}

.btn-hidden {
  font-size: 0px;
  transition: all 1s;
}