/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";
@import "compass";
@import url(http://fonts.googleapis.com/css?family=Roboto:100,700,400);

html {
  height: 100%;
}

.content{
  height: 2600px;
  max-height: 2600px;
}

#nav-bar{
  z-index: 20;
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: #000000;
  transition: all 0.5s;
}

.nav-bar-mini{
  height: 50px !important;
}

.home-hidden{
  visibility: collapse;
  transform: scale(10, 10);
}

.slide{
  transform: scale(1, 1);
  opacity: 1;
  transition: all 1s;
  clip: rect(0px,auto ,600px ,0px);
}

.slide.ng-add{

  clip: rect(0px,auto ,600px ,0px);
  transform: scale(1, 1);
  opacity: 1;

}

.slide.ng-hide{
  opacity: 0;
  transform: scale(10, 10);
  clip: rect(0px,auto ,600px ,0px);
}

#home {
  width: 100%;
  height: 600px !important;
  overflow: hidden;

  #img01{
    background: url("../img/background01.jpg") center center no-repeat;
  }
  #img02{
    background: url("../img/background02.jpg") center center no-repeat;
  }

  #img01, #img02{
    position: absolute;
    clip: rect(0px,auto ,600px ,0px);
    z-index: 0;
//    position: absolute;
    background-size: 100% 100%;
    transition: all 0.5s;

    @media (max-width: 800px) {

      height: calc(1200px / 2);
      width: calc(1920px / 2);
    }

    @media (min-width: 801px) and (max-width: 1366px) {

      height: calc(1200px / 1.5);
      width: calc(1920px / 1.5);

    }


    @media (min-width: 1367px) {

      height: 1200px;
      width: 1920px;
    }
  }

  #text01, #text02{
    position: absolute;
    top: 200px;
    left: calc(50% - 450px);
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    color: white;
    font-weight: 700;
    text-align: center;
    max-width: 900px;
  }

  #button01, #button02{
    border: 1px solid white;
    position: absolute;
    top: 400px;
    left: calc(50% - 100px);
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    color: white;
    padding: 20px;
    transition: all 1s;
  }

  #button01:hover,
  #button02:hover
  {
    background-color: rgba(#00C7FF, 0.5);
    transform: translate(5px, 5px) scale(1.05);
    box-shadow: 2px 2px 10px #FFFFFF;
  }

}

#frase-01 {
//  position: absolute;
  width: 100%;
//  background-color: #FF7D00;
  height: 300px !important;
  z-index: 10;
  background: #FF7D00 url("../img/frase01.jpg") center center no-repeat;
  background-size: contain;
}

#empresa {
//  position: absolute;
//  top:900px;
  width: 100%;
//  background-color: red;
  height: 400px !important;
  background: red url("../img/empresa.jpg") center center no-repeat;
  background-size: contain;
}

#frase-02 {
//  position: absolute;
//  top:1300px;
  width: 100%;
//  background-color: blue;
//  min-height: 300px !important;
//  min-height: 300px;
  height: auto;
  img{
    max-width:100%;
    max-height:100%;
  }
//  background: #FF7D00 url("../img/frase02.jpg") center center no-repeat;
//  background-size: contain;
//  overflow: hidden;
}


#contacto {
  width: 100%;
//  background-color: #000000;
  height: 400px !important;
  background: #000000 url("../img/contacto.jpg") center center no-repeat;
  background-size: contain;
}

#footer {
  width: 100%;
//  background-color: green;
  height: 200px !important;
  background: green url("../img/footer.jpg") center center no-repeat;
  background-size: contain;
}


.screen-shadow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#333333, 0.8);
  z-index: 14;
}

.btn-close {
  font-size: 2em;
  color: white;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 16;

}

.btn-hidden {
  font-size: 0px;
  transition: all 1s;
}