<div class="content" ng-controller="MainViewCtrl as mainViewCtrl">
    <div id="home">

        <div class="slide" ng-show="mainViewCtrl.slide01">
            <div id="img01"></div>
            <div id="text01">Diseños a medida apuntando al futuro</div>
            <div id="button01">Portfolio</div>
        </div>

        <div class="slide" ng-show="mainViewCtrl.slide02">
            <div id="img02"></div>
            <div id="text02">Diseños a medida apuntando al futuro</div>
            <div id="button02">Portfolio</div>
        </div>
        <!--<div id="output"></div>-->
    </div>
    <div id="frase-01">
        <img src="./img/frase01.jpg" alt=""/>
    </div>
    <div id="empresa"></div>
    <div id="frase-02">
        <img src="./img/frase02.jpg" alt=""/>
    </div>
    <div id="portfolio">
        <div class="portfolio-item">
            <div class="portfolio-work" id="portofolio-01">
                <portfolio-caja title="Revista" subtitle="Prensa energetica" img="./img/port-01.png"
                                text1="Imagen" text2="Retoque Fotográfico" text3="Diseño Editorial"
                                text4="Diseño Web"></portfolio-caja>
            </div>
        </div>
        <div class="portfolio-item">
            <div class="portfolio-work" id="portofolio-02">
                <portfolio-caja title="Revista" subtitle="Prensa energetica" img="./img/port-01.png"
                                text1="Imagen" text2="Retoque Fotográfico" text3="Diseño Editorial"
                                text4="Diseño Web"></portfolio-caja>
            </div>
        </div>
        <div class="portfolio-item">
            <div class="portfolio-work" id="portofolio-03">
                <portfolio-caja title="Revista" subtitle="Prensa energetica" img="./img/port-01.png"
                                text1="Imagen" text2="Retoque Fotográfico" text3="Diseño Editorial"
                                text4="Diseño Web"></portfolio-caja>
            </div>
        </div>
        <div class="portfolio-item">
            <div class="portfolio-work" id="portofolio-04">
                <portfolio-caja title="Revista" subtitle="Prensa energetica" img="./img/port-01.png"
                                text1="Imagen" text2="Retoque Fotográfico" text3="Diseño Editorial"
                                text4="Diseño Web"></portfolio-caja>
            </div>
        </div>
        <!--<div class="portfolio-item">-->
            <!--<div class="portfolio-work" id="portofolio-05">-->
                <!--<portfolio-caja title="Revista" subtitle="Prensa energetica" img="./img/port-01.png"-->
                                <!--text1="Imagen" text2="Retoque Fotográfico" text3="Diseño Editorial"-->
                                <!--text4="Diseño Web"></portfolio-caja>-->
            <!--</div>-->
        <!--</div>-->

    </div>
    <div id="contacto">
        <span class="contacto-top-titulo">Consultanos</span><br/>
        <span class="contacto-top-subtitulo">sobre tu proyecto!</span>
        <form class="contacto-form" novalidate>
            <div class="contacto-wrapper"><input placeholder="Nombre:" ng-model="mainViewCtrl.nombre" type="text"/>
                <img src="img/logo%202.png" alt=""/>
            </div>

            <div class="contacto-wrapper"><input placeholder="Mail:" ng-model="mainViewCtrl.email" type="text"/>
                <img src="img/logo%203.png" alt=""/>
            </div>
            <div class="contacto-wrapper"><input placeholder="Asunto:" ng-model="mainViewCtrl.asunto" type="text"/>
                <img src="img/logo%201.png" alt=""/>
            </div>
            <div class="contacto-wrapper">
                <textarea ng-model="mainViewCtrl.mensaje" rows="5" placeholder="Escribe aquí tu consulta:" ></textarea>
            </div>
            <button class="contacto-enviar" ng-click="mainViewCtrl.sendMail()">Enviar</button>

        </form>
        <div class="contacto-enviado" ng-show="mainViewCtrl.enviado">Muchas gracias por escribirnos! Su mensaje será contestado a la brevedad. </div>

    </div>
    <div id="footer">
        <div>Contáctenos:
            <p>Tel: <span>153111xxxx</span></p>
            <p>Email: <span>ventas@ac-desarrollos.com</span></p>
            <p>Web: <span>ac-desarrollos.com</span></p>
        </div>
        <div class="footer-logo">
            <!--<img class="footer-logo" src="./img/logofull.png" alt=""/>-->
        </div>
        <div>Seguinos:</div>
    </div>

</div>

