<div class="content" ng-controller="MainViewCtrl as mainViewCtrl">
    <div id="home" style="height: {{mainViewCtrl.homeHeight}}">

        <div class="slide" id="img01" style="height: {{mainViewCtrl.homeHeight}}; width:{{mainViewCtrl.homeWidth}};"
             ng-show="mainViewCtrl.slide01">
            <!--<div id="img01"></div>-->
            <div class="texto-slide">"Diseños a medida <br/><span>apuntando al futuro</span>"</div>
            <div id="button01">Portfolio</div>
        </div>

        <div class="slide" id="img02" style="height: {{mainViewCtrl.homeHeight}}; width:{{mainViewCtrl.homeWidth}};"
             ng-show="mainViewCtrl.slide02">
            <!--<div id="img02"></div>-->
            <div class="texto-slide">"Diseño es donde <span>la ciencia y el arte</span> <br/> llegan a un punto de equilibrio"</div>
            <div id="button02">Portfolio</div>
        </div>

        <div class="slide" id="img03" style="height: {{mainViewCtrl.homeHeight}}; width:{{mainViewCtrl.homeWidth}};"
             ng-show="mainViewCtrl.slide03">
            <!--<div id="img02"></div>-->
            <div class="texto-slide">"El diseño es la <span>aplicación</span> del intento, <br/> lo contrario del <span>evento</span> fortuito,
                <br/> y un <span>antídoto</span> para el accidente"</div>
            <div id="button03">Portfolio</div>
        </div>

        <div class="slide" id="img04" style="height: {{mainViewCtrl.homeHeight}}; width:{{mainViewCtrl.homeWidth}};"
             ng-show="mainViewCtrl.slide04">
            <!--<div id="img02"></div>-->
            <div class="texto-slide">"El diseño es inteligencia <br/><span>hecha visible</span>"</div>
            <div id="button04">Portfolio</div>
        </div>


        <!--<div id="output"></div>-->
    </div>
    <div id="frase-01">
        <!--<img src="./img/frase01.jpg" alt=""/>-->
        <div class="texto-frase">
            El <span>buen diseño</span> es obvio. El <span>diseño genial</span> es transparente.
        </div>
        <div class="btn-frase" ng-click="mainCtrl.goToAnchor('contacto')">Contacto</div>
    </div>
    <div id="empresa">
        <div id="empresa-titulo"><img src="./img/rueda.png" alt=""/>Staff</div>
        <!--<img src="./img/empresa.jpg" alt=""/>-->


        <!--<div>-->
        <ul id="sdt_menu" class="sdt_menu">
            <li>
                <a href="">
                    <img src="img/2.png" alt=""/>
                    <span class="sdt_active"></span>
			<span class="sdt_wrap">
				<span class="sdt_link">Ventas</span>
				<span class="sdt_descr"><span class="sdt_descr_firt">Juan Pablo</span> Dilello</span>
			</span>
                </a>

                <div class="sdt_box">
                    <a href="">Manager</a>
                    <a href="">Ventas</a>
                    <a href="">Relaciones Comerciales</a>
                </div>
            </li>
            <li>
                <a href="">
                    <img src="img/1.png" alt=""/>
                    <span class="sdt_active"></span>
			<span class="sdt_wrap">
				<span class="sdt_link">Diseño</span>
				<span class="sdt_descr"><span class="sdt_descr_firt">Diego</span> Yankelevich</span>
			</span>
                </a>

                <div class="sdt_box">
                    <a href="">Illustrator</a>
                    <a href="">UI Design</a>
                    <a href="">Dirección Artística</a>
                </div>
            </li>
            <li>
                <a href="">
                    <img src="img/1.jpg" alt=""/>
                    <span class="sdt_active"></span>
			<span class="sdt_wrap">
				<span class="sdt_link">Desarrollo</span>
				<span class="sdt_descr"><span class="sdt_descr_firt">Ariel</span> Cessario</span>
			</span>
                </a>

                <div class="sdt_box">
                    <a href="">Desarrollo</a>
                    <a href="">Arquitectura</a>
                    <a href="">Project Manager</a>
                </div>
            </li>
            <li>
                <a href="">
                    <img src="img/3.png" alt=""/>
                    <span class="sdt_active"></span>
			<span class="sdt_wrap">
				<span class="sdt_link">Consultoria</span>
				<span class="sdt_descr"><span class="sdt_descr_firt">Javier</span> Zaine</span>
			</span>
                </a>

                <div class="sdt_box">
                    <a href="">Ventas</a>
                    <a href="">Asistencia Post Venta</a>
                    <a href="">Consultoria</a>
                </div>
            </li>
        </ul>


        <!--</div>-->

    </div>
    <div id="frase-02">
        <!--<img src="./img/frase02.jpg" alt=""/>-->
        <div class="texto-frase"><span>Potenciamos</span> tus ideas y las transformamos en realidad</div>
        <div class="btn-frase" ng-click="mainCtrl.goToAnchor('contacto')">Contacto</div>
    </div>
    <div id="portfolio">

        <div id="portfolio-titulo">
            <!--<img src="./img/rueda.png" alt=""/>-->
            Servicios
        </div>
        <div id="portfolio-detalle">
            <div class="proyecto">
                <div class="flipper">
                    <img class="front" src="./img/port01.png" height="150" width="150" alt=""/>
                    <img class="back" src="./img/port01b.png" height="150" width="150" alt=""/>
                    <!--<div class="front" style="background:  url('./img/port01.png') center center no-repeat;"></div>-->
                    <!--<div class="back" style="background:  url('./img/port01b.png') center center no-repeat;"></div>-->
                </div>
            </div>
            <div class="proyecto">
                <div class="flipper">
                    <img class="front" src="./img/port02.png" height="150" width="150" alt=""/>
                    <img class="back" src="./img/port02b.png" height="150" width="150" alt=""/>
                </div>
            </div>
            <div class="proyecto">
                <div class="flipper">
                    <img class="front" src="./img/port03.png" height="150" width="150" alt=""/>
                    <img class="back" src="./img/port03b.png" height="150" width="150" alt=""/>
                </div>
            </div>
            <div class="proyecto">
                <div class="flipper">
                    <img class="front" src="./img/port04.png" height="150" width="150" alt=""/>
                    <img class="back" src="./img/port04b.png" height="150" width="150" alt=""/>
                </div>
            </div>
            <div class="proyecto">
                <div class="flipper">
                    <img class="front" src="./img/port05.png" height="150" width="150" alt=""/>
                    <img class="back" src="./img/port05b.png" height="150" width="150" alt=""/>
                </div>
            </div>
            <div class="proyecto">
                <div class="flipper">
                    <img class="front" src="./img/port06.png" height="150" width="150" alt=""/>
                    <img class="back" src="./img/port06b.png" height="150" width="150" alt=""/>
                </div>
            </div>
            <div class="proyecto">
                <div class="flipper">
                    <img class="front" src="./img/port07.png" height="150" width="150" alt=""/>
                    <img class="back" src="./img/port07b.png" height="150" width="150" alt=""/>
                </div>
            </div>
            <div class="proyecto">
                <div class="flipper">
                    <img class="front" src="./img/port08.png" height="150" width="150" alt=""/>
                    <img class="back" src="./img/port08b.png" height="150" width="150" alt=""/>
                </div>
            </div>

        </div>


    </div>
    <div id="frase-03">
        <!--<img src="./img/frase02.jpg" alt=""/>-->
        <div class="texto-frase">Estarás posicionado en los <span>pimeros rankings</span> gracias a nuestras <span>campañas de adwords</span>

        </div>
        <div class="btn-frase" ng-click="mainCtrl.goToAnchor('contacto')">Contacto</div>
    </div>
    <div id="clientes">
        <div id="clientes-titulo">
            <!--<img src="./img/rueda.png" alt=""/>-->
            Clientes
        </div>

        <div class="clientes-grid-container">
            <div class="clientes-row">
                <div class="cliente">
                    <div class="flipper">
                        <img class="front" src="./img/cl01.png" height="150" width="150" alt=""/>
                        <img class="back" src="./img/cl01b.svg" height="150" width="150" alt=""/>
                    </div>
                </div>
                <div class="cliente">
                    <div class="flipper">
                        <img class="front" src="./img/cl02.png" height="150" width="150" alt=""/>
                        <img class="back" src="./img/cl02b.svg" height="150" width="150" alt=""/>
                    </div>
                </div>
                <div class="cliente">
                    <div class="flipper">
                        <img class="front" src="./img/cl03.png" height="150" width="150" alt=""/>
                        <img class="back" src="./img/cl03b.svg" height="150" width="150" alt=""/>
                    </div>
                </div>
            </div>
            <div class="clientes-row">
                <div class="cliente">
                    <div class="flipper">
                        <img class="front" src="./img/cl04.png" height="150" width="150" alt=""/>
                        <img class="back" src="./img/cl04b.svg" height="150" width="150" alt=""/>
                    </div>
                </div>
                <div class="cliente">
                    <div class="flipper">
                        <img class="front" src="./img/cl05.png" height="150" width="150" alt=""/>
                        <img class="back" src="./img/cl05b.svg" height="150" width="150" alt=""/>
                    </div>
                </div>
                <div class="cliente">
                    <div class="flipper">
                        <img class="front" src="./img/cl06.png" height="150" width="150" alt=""/>
                        <img class="back" src="./img/cl06b.svg" height="150" width="150" alt=""/>
                    </div>
                </div>
            </div>
            <div class="clientes-row">
                <div class="cliente">
                    <div class="flipper">
                        <img class="front" src="./img/cl07.png" height="150" width="150" alt=""/>
                        <img class="back" src="./img/cl07b.svg" height="150" width="150" alt=""/>
                    </div>
                </div>
                <div class="cliente">
                    <div class="flipper">
                        <img class="front" src="./img/cl08.png" height="150" width="150" alt=""/>
                        <img class="back" src="./img/cl08b.svg" height="150" width="150" alt=""/>
                    </div>
                </div>
                <div class="cliente">
                    <div class="flipper">
                        <img class="front" src="./img/cl09.png" height="150" width="150" alt=""/>
                        <img class="back" src="./img/cl09b.svg" height="150" width="150" alt=""/>
                    </div>
                </div>
            </div>
        </div>
        <div style="font-family: 'Roboto', sans-serif;
        font-weight: 100;
        max-width: 60%;
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 25px;
        color:#ffffff;
        text-align: center">
            Somos una empresa joven y dinámica, donde nuestra fuerza de trabajo, proactividad e ideas obedecen a estas mismas cualidades, además de estar pensadas y apuntadas a un gran espectro de consumidores en la web, sin desviar el foco de lo que específicamente necesita su empresa o emprendimiento como estrategia de posicionamiento.
            <br/><br/>
            Contamos con basta experiencia en el rubro, trabajando como agentes internos o externos de distintas empresas realizando y programando aplicaciones para celulares con sistema operativo android, diseño web, marketing, publicidad on line y posicionamiento en motores de búsqueda en internet.
        </div>
    </div>
    <div id="contacto">
        <div id="contacto-titulo">Consultanos</div>
        <span id="contacto-subtitulo">sobre tu proyecto</span>

        <form class="contacto-form" novalidate>
            <div class="contacto-wrapper"><input placeholder="Nombre" ng-model="mainViewCtrl.nombre" type="text"/>
                <!--<img src="img/logo%202.png" alt=""/>-->
            </div>

            <div class="contacto-wrapper"><input placeholder="Mail" ng-model="mainViewCtrl.email" type="text"/>
                <!--<img src="img/logo%203.png" alt=""/>-->
            </div>
            <div class="contacto-wrapper"><input placeholder="Asunto" ng-model="mainViewCtrl.asunto" type="text"/>
                <!--<img src="img/logo%201.png" alt=""/>-->
            </div>
            <div class="contacto-wrapper">
                <textarea ng-model="mainViewCtrl.mensaje" rows="5" placeholder="Escribe aquí tu consulta"></textarea>
            </div>


        </form>
        <div class="contacto-enviar"
             onClick="ga('send', 'event', { eventCategory: 'Contacto', eventAction: 'Pedido de informacion', eventLabel: 'Formulario de contaco'});"
             id="btn-contacto-enviar" ng-click="mainViewCtrl.sendMail()">Enviar
        </div>
        <div class="contacto-enviado" ng-show="mainViewCtrl.enviado">Muchas gracias por escribirnos! Su mensaje será
            contestado a la brevedad.
        </div>

    </div>
    <div id="footer">
        <div>Contáctenos <br/>
            <span>ventas@ac-desarrollos.com</span>
        </div>
        <div>Teléfono <br/>
            <span>0113-459-5006</span>
        </div>
        <div class="footer-logo">
            <div>AC-desarrollos</div>
            <!--<img class="footer-logo" src="./img/logofull.png" alt=""/>-->
        </div>
        <div>Siguenos
            <p>#AC-desarrollos</p>

            <p></p>
        </div>
        <div>Web <br/>
            <span>www.ac-desarrollos.com</span>
        </div>
    </div>

</div>



