<div class="content" ng-controller="MainViewCtrl as mainViewCtrl">
    <div id="home" style="margin-top:150px;height: {{mainViewCtrl.homeHeight}}">

        <iframe id="ytplayer" class="slide"
                style="height: {{mainViewCtrl.homeHeight}}; width:{{mainViewCtrl.homeWidth}};"
                src="http://www.youtube.com/embed/E7IpDi5yD8A?enablejsapi=1&loop=1&autoplay=1&autohide=1&playlist=E7IpDi5yD8A"
                >
        </iframe>


        <script>

            var tag = document.createElement('script');

            tag.src = "//www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

            var player;

            function onYouTubeIframeAPIReady() {
                player = new YT.Player('ytplayer', {
                    events: {
                        'onReady': onPlayerReady
                    }
                });
            }

            function onPlayerReady(event) {
                player.mute();
                player.playVideo();
            }

        </script>
    </div>
    <div id="frase-01">
        <!--<img src="./img/frase01.jpg" alt=""/>-->
        <div class="texto-frase">
            El <span>buen diseño</span> es obvio. El <span>diseño genial</span> es transparente.
        </div>
        <div class="btn-frase" ng-click="mainCtrl.goToAnchor('contacto')">Contacto</div>
    </div>

    <div id="servicios">

        <div id="servicios-titulo">
            <!--<img src="./img/rueda.png" alt=""/>-->
            Servicios
        </div>
        <div id="servicios-detalle">
            <div class="proyecto">
                <div class="flipper">
                    <img class="front" src="./img/port01.png" height="150" width="150" alt="Diseño Responsivo"/>
                    <img class="back" src="./img/port01b.png" height="150" width="150" alt="Sistemas Web"/>
                    <!--<div class="front" style="background:  url('./img/port01.png') center center no-repeat;"></div>-->
                    <!--<div class="back" style="background:  url('./img/port01b.png') center center no-repeat;"></div>-->
                </div>
            </div>
            <div class="proyecto">
                <div class="flipper">
                    <img class="front" src="./img/port02.png" height="150" width="150"
                         alt="Diseño y posicionamiento web"/>
                    <img class="back" src="./img/port02b.png" height="150" width="150" alt="Campañas de Adwords"/>
                </div>
            </div>
            <div class="proyecto">
                <div class="flipper">
                    <img class="front" src="./img/port03.png" height="150" width="150" alt="ecommerce"/>
                    <img class="back" src="./img/port03b.png" height="150" width="150" alt="sistemas de gestion web"/>
                </div>
            </div>
            <div class="proyecto">
                <div class="flipper">
                    <img class="front" src="./img/port04.png" height="150" width="150" alt="sistemas de gestion"/>
                    <img class="back" src="./img/port04b.png" height="150" width="150" alt="sistemas de gestion"/>
                </div>
            </div>
            <div class="proyecto">
                <div class="flipper">
                    <img class="front" src="./img/port05.png" height="150" width="150" alt="apps para celulares"/>
                    <img class="back" src="./img/port05b.png" height="150" width="150" alt="desarrollos móbiles"/>
                </div>
            </div>
            <div class="proyecto">
                <div class="flipper">
                    <img class="front" src="./img/port06.png" height="150" width="150" alt="posicionamiento web"/>
                    <img class="back" src="./img/port06b.png" height="150" width="150" alt="posicionamiento web"/>
                </div>
            </div>
            <div class="proyecto">
                <div class="flipper">
                    <img class="front" src="./img/port07.png" height="150" width="150" alt="google analytics"/>
                    <img class="back" src="./img/port07b.png" height="150" width="150" alt="google analytics"/>
                </div>
            </div>
            <div class="proyecto">
                <div class="flipper">
                    <img class="front" src="./img/port08.png" height="150" width="150" alt="hosting"/>
                    <img class="back" src="./img/port08b.png" height="150" width="150" alt="hosting"/>
                </div>
            </div>

        </div>

        <div style="font-family: 'Roboto', sans-serif;
        font-weight: 100;
        max-width: 60%;
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 25px;
        color:#ffffff;
        text-align: center">
            <br/>
            <br/>
            Nuestra misión es crecer junto a nuestros clientes, hacer de la tecnología una herramienta útil y no un
            dolor de cabeza diario. Sabemos que en los tiempos que corren, estar al tanto de los últimos avances en
            informática es muy difícil, por esa razón nosotros queremos conocer a nuestros clientes y sus negocios, para
            poder brindarles siempre las tecnologías que mejor se adapten a sus necesidades.
            <br/>
            <br/>
            No duden en preguntarnos lo que quieran o solo tener un charla sobre los nuevos avances o recomendaciones
            sobre nuevos productos.
            <br/>
            <br/>

        </div>


    </div>


    <div id="frase-02">
        <!--<img src="./img/frase02.jpg" alt=""/>-->
        <div class="texto-frase"><span>Potenciamos</span> tus ideas y las transformamos en realidad</div>
        <div class="btn-frase" ng-click="mainCtrl.goToAnchor('contacto')">Contacto</div>
    </div>
    <div id="empresa" style="display: flex;flex-direction: column;">
        <div>
            <!--<div id="empresa-titulo"><img src="./img/rueda.png" alt=""/>Staff</div>-->
            <div id="empresa-titulo">Staff</div>
            <br/>
            <!--<img src="./img/empresa.jpg" alt=""/>-->


            <div id="empresa-detalles">

                <div class="empresa-detalle">
                    <img class="empresa-img" src="img/2.png" alt=""/>

                    <div class="empresa-nombre"><span>Juan Pablo Dilello</span></div>
                    <div class="empresa-tarea-titulo">Comercial</div>
                    <div class="empresa-tareas">
                        <span>Manager</span><br>
                        <span>Ventas</span><br>
                        <span>Relaciones Comerciales</span>
                    </div>
                </div>
                <div class="empresa-detalle">
                    <img class="empresa-img" src="img/1.png" alt=""/>

                    <div class="empresa-nombre"><span>Diego Yankelevich</span></div>
                    <div class="empresa-tarea-titulo">Arte</div>
                    <div class="empresa-tareas">
                        <span>Illustrator</span><br>
                        <span>UI Design</span><br>
                        <span>Dirección Artística</span>
                    </div>
                </div>
                <div class="empresa-detalle">
                    <img class="empresa-img" src="img/1.jpg" alt=""/>

                    <div class="empresa-nombre"><span>Ariel Cessario</span></div>
                    <div class="empresa-tarea-titulo">Técnica</div>
                    <div class="empresa-tareas">
                        <span>Desarrollo</span><br>
                        <span>Arquitectura</span><br>
                        <span>Project Management</span>
                    </div>
                </div>
                <div class="empresa-detalle">
                    <img class="empresa-img" src="img/3.png" alt=""/>

                    <div class="empresa-nombre"><span>Mateo Maneff</span></div>
                    <div class="empresa-tarea-titulo">Técnica</div>
                    <div class="empresa-tareas">
                        <span>Desarrollo</span><br>
                        <span>Arquitectura</span><br>
                        <span>Investigación</span>
                    </div>
                </div>

            </div>
        </div>
        <div style="font-family: 'Roboto', sans-serif;
        font-weight: 100;
        max-width: 60%;
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 25px;
        color:#ffffff;
        text-align: center">
            <br/>
            <br/>
            Nuestro equipo se compone de cuatro profesionales:
            <br/>
            <br/>
            Juan, el encargado de ventas y post venta, siempre dispuesto a contestar preguntas no importa el medio de
            comunicación. Empleado por mas de diez años en el sector privado, decidió juntar toda su experiencia en el
            trato a grandes empresas y aplicarla a clientes de cualquier tamaño y necesidad.
            <br/>
            <br/>


            Diego, la creatividad en la empresa, sus ideas dan vida a las páginas y hacen que pasen de ser texto y
            colores a una experiencia única para cada cliente. Su experiencia abarca publicidad gráfica y diseño
            multimeda,
            pasando por portales y sitios web, o videos institucionales para empresas. No importa la página, todas serán
            experiencias asombrosas y de máxima calidad.
            <br/>
            <br/>

            Mateo, nuestro representante en el interior del país, se ocupa del desarrollo y la arquitectura de nuestras
            aplicaciones. Ingeniero en sistemas y con muchísima experiencia en varias tecnologías, hace de nuestras
            páginas
            una herramienta confiable y estable. Siempre con buen humor, y dos hijos hermosos, responderá cualquier
            consulta técnica que se le pueda hacer.
            <br/>
            <br/>

            Por último Ariel que junto a Mateo se ocupan del desarrollo, implementación e investigación de nuevas
            tecnologías que les permiten a nuestros clientes siempre estar a la vanguardia en páginas web. Con mas de 14
            años de relación con el sector de sistemas hace siempre lo necesario para que las páginas sean rápidas,
            ágiles y seguras.
            <br/>
            <br/>

        </div>
    </div>

    <div id="frase-03">
        <!--<img src="./img/frase02.jpg" alt=""/>-->
        <div class="texto-frase">Estarás posicionado en los <span>pimeros rankings</span> gracias a nuestras <span>campañas de adwords</span>

        </div>
        <div class="btn-frase" ng-click="mainCtrl.goToAnchor('contacto')">Contacto</div>
    </div>
    <div id="clientes">
        <div id="clientes-titulo">
            <!--<img src="./img/rueda.png" alt=""/>-->
            Clientes
        </div>

        <div class="clientes-grid-container">
            <div class="clientes-row">
                <div class="cliente">
                    <div class="flipper">
                        <img class="front" src="./img/cl01.png" height="150" width="150" alt=""/>
                        <img class="back" src="./img/cl01b.svg" height="150" width="150" alt=""/>
                    </div>
                </div>
                <div class="cliente">
                    <div class="flipper">
                        <img class="front" src="./img/cl02.png" height="150" width="150" alt=""/>
                        <img class="back" src="./img/cl02b.svg" height="150" width="150" alt=""/>
                    </div>
                </div>
                <div class="cliente">
                    <div class="flipper">
                        <img class="front" src="./img/cl03.png" height="150" width="150" alt=""/>
                        <img class="back" src="./img/cl03b.svg" height="150" width="150" alt=""/>
                    </div>
                </div>
            </div>
            <div class="clientes-row">
                <div class="cliente">
                    <div class="flipper">
                        <img class="front" src="./img/cl04.png" height="150" width="150" alt=""/>
                        <img class="back" src="./img/cl04b.svg" height="150" width="150" alt=""/>
                    </div>
                </div>
                <div class="cliente">
                    <div class="flipper">
                        <img class="front" src="./img/cl05.png" height="150" width="150" alt=""/>
                        <img class="back" src="./img/cl05b.svg" height="150" width="150" alt=""/>
                    </div>
                </div>
                <div class="cliente">
                    <div class="flipper">
                        <img class="front" src="./img/cl06.png" height="150" width="150" alt=""/>
                        <img class="back" src="./img/cl06b.svg" height="150" width="150" alt=""/>
                    </div>
                </div>
            </div>
            <div class="clientes-row">
                <div class="cliente">
                    <div class="flipper">
                        <img class="front" src="./img/cl07.png" height="150" width="150" alt=""/>
                        <img class="back" src="./img/cl07b.svg" height="150" width="150" alt=""/>
                    </div>
                </div>
                <div class="cliente">
                    <div class="flipper">
                        <img class="front" src="./img/cl08.png" height="150" width="150" alt=""/>
                        <img class="back" src="./img/cl08b.svg" height="150" width="150" alt=""/>
                    </div>
                </div>
                <div class="cliente">
                    <div class="flipper">
                        <img class="front" src="./img/cl09.png" height="150" width="150" alt=""/>
                        <img class="back" src="./img/cl09b.svg" height="150" width="150" alt=""/>
                    </div>
                </div>
            </div>
        </div>
        <div style="font-family: 'Roboto', sans-serif;
        font-weight: 100;
        max-width: 60%;
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 25px;
        color:#ffffff;
        text-align: center">
            Somos una empresa joven y dinámica, donde nuestra fuerza de trabajo, proactividad e ideas obedecen a estas
            mismas cualidades, además de estar pensadas y apuntadas a un gran espectro de consumidores en la web, sin
            desviar el foco de lo que específicamente necesita su empresa o emprendimiento como estrategia de
            posicionamiento.
            <br/><br/>
            Contamos con basta experiencia en el rubro, trabajando como agentes internos o externos de distintas
            empresas realizando y programando aplicaciones para celulares con sistema operativo android, diseño web,
            marketing, publicidad on line y posicionamiento en motores de búsqueda en internet.
            <br/><br/>
            Solicite su presupuesto sin cargo a través de nuestro formulario de contacto.
        </div>
    </div>
    <div id="contacto">
        <div id="contacto-titulo">Consultanos</div>
        <span id="contacto-subtitulo">sobre tu proyecto</span>

        <input placeholder="Nombre" ng-model="mainViewCtrl.nombre" type="text"/>
        <!--<img src="img/logo%202.png" alt=""/>-->

        <input placeholder="Mail" ng-model="mainViewCtrl.email" type="text"/>
        <!--<img src="img/logo%203.png" alt=""/>-->
        <input placeholder="Asunto" ng-model="mainViewCtrl.asunto" type="text"/>
        <!--<img src="img/logo%201.png" alt=""/>-->
        <textarea ng-model="mainViewCtrl.mensaje" rows="5" placeholder="Escribe aquí tu consulta"></textarea>

        <div class="contacto-enviar"
             onClick="ga('send', 'event', { eventCategory: 'Contacto', eventAction: 'Pedido de informacion', eventLabel: 'Formulario de contaco'});"
             id="btn-contacto-enviar" ng-click="mainViewCtrl.sendMail()">Enviar
        </div>
        <div class="contacto-enviado" ng-show="mainViewCtrl.enviado">Muchas gracias por escribirnos! Su mensaje será
            contestado a la brevedad.
        </div>

    </div>
    <div id="footer">
        <div>
            <h1>Contáctenos</h1>
            <span>ventas@ac-desarrollos.com</span>
        </div>
        <div>
            <h1>Teléfono</h1>
            <span>0113-111-5006</span>
        </div>
        <!--<div class="footer-logo">-->
        <!--<h1>AC-desarrollos</h1>-->
        <!--&lt;!&ndash;<img class="footer-logo" src="./img/logofull.png" alt=""/>&ndash;&gt;-->
        <!--</div>-->
        <div>
            <h1>Siguenos</h1>

            <p>#AC-desarrollos</p>

            <p></p>
        </div>
        <div>
            <h1>Web</h1>
            <span>www.ac-desarrollos.com</span>
        </div>
    </div>
    <div id="copyrights">
        &copy; 2015 - www.ac-desarrollos.com - AC Desarrollos - 113111-5006 - ventas@ac-desarrollos.com - All Rights
        Reserved
    </div>

</div>



